body {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}

h1,
h2 {
  letter-spacing: .4rem;
  text-transform: capitalize;
  color: teal;
}

h1 {
  font-size: 3rem;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav li {
  flex-basis: 300px;
  list-style-type: none;
}

nav a {
  color: black;
  font-size: 1.5rem;
  text-decoration: underline;
}

#mission {
  background-image: url('../images/austin-neill-JNvRecQ24Bk-unsplash.jpg');
  background-position: center;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#mission #statement {
  background-color: rgba(255, 255, 255, .8);
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service img {
  width: 400px;
}
